@import '~@nativescript/theme/core';

/* Custom colors */
$blue-dark: #022734 !default;
$blue-light: #02556e !default;
$blue-50: rgba($blue-dark, 0.5) !default;

/**
* Theme variables overrides
**/

/*  Colors */
$background: #fff;
$primary: lighten(#000, 13%);
